// bower:scss
// endbower

$green-dark: #1ed731;
$green-light: #25ef4a;
$bg-blue: #3b76f9;
$blue-bg: #3b76f9;
$blue-light: #64f4ff;
$orange: #ff9e0f;

body {
  background: $bg-blue;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}
article {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
ul {
  display: inline-block;
  padding: 0;
  margin: 0;

  &:after {
    content: ' ';
    clear: both;
    display: block;
  }
  li {
    float: left;
    margin-right: 3px;
    height: 40px;
    padding: 0 8px;
    overflow: hidden;
    position: relative;

    list-style: none;
    color: $bg-blue;;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    font-size: 32px;

    &:before {
      content: attr(data-text);
      height: 40px;
      padding: 0 8px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: -16px;
      right: 100%;
      z-index: 1;
      cursor: pointer;

      color: #000;
      background: #fff;
      transition: all 0.2s linear;
    }

    &:hover:before {
      left: 0;
      right: 0;
    }
    
  }
}
.dot-plus {
  position: relative;
  background: none;
  width: 40px;
  display: block;
  padding: 0;
  overflow: visible;
  z-index: 2;

  &:before {
    display: none;
  }

  span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: all 0.2s linear;
    color: $bg-blue;
    font-size: 46px;


    &:hover {
      width: 60px;
      height: 60px;
    }

    &:after {
      content: '+';
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 4;
      cursor: pointer;
      color: #000;
      background: #fff;
      opacity: 0;
      
    }
    &:before {
      content: '';
      background: $green-light;
      box-shadow: inset $green-dark 0px 40px; 
      display: inline-block;
      transform: skew(0, -45deg) translate(0, 0);
      width: 80px;
      height: 80px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 3;
      opacity: 0;
    }
  }
}
@keyframes textLeft {
  0% {
    left: -16px;
    right: 100%;
    background-color: $orange;
  }
  20% {
    background-color: $orange;
  }
  21% {
    background-color: $blue-light;
  }
  50% {
    background-color: $blue-light;
  }
  51% {
    background-color: #fff;
  }
  100% {
    left: 0;
    right: 0;
    background-color: #fff;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textUp {
  0% {
    opacity: 0;
    width: 40px;
    height: 40px;
  }
  1% {
    opacity: 1;
    width: 40px;
    height: 40px;
  }
  50% {
    opacity: 1;
    width: 60px;
    height: 60px;
  }
  100% {
    opacity: 1;
    width: 40px;
    height: 40px;
    animation: none;
  }
}
ul li {
  &:nth-child(1):before {
    animation: textLeft .5s linear 0s forwards; //0.5
  }
  &:nth-child(2) span {
    animation: textUp .5s linear .6s; //1.1
    &:after, &:before {
      animation: show .1s linear .5s forwards; //0.6
    }
  }
  &:nth-child(3):before  {
    animation: textLeft .5s linear 1.1s forwards; //1.6
  }
  &:nth-child(4)  span {
    animation: textUp .5s linear 1.7s; //2.2
    &:after, &:before {
      animation: show .1s linear 1.6s forwards; //1.7
    }
  }
  &:nth-child(5):before  {
    animation: textLeft .5s linear 2.2s forwards; //2.7
  }
  &:nth-child(6) span {
    animation: textUp .5s linear 2.8s; //3.3
    &:after, &:before {
      animation: show .1s linear 2.7s forwards; //2.8
    }
  }
  &:nth-child(7):before  {
    animation: textLeft .5s linear 3.3s forwards; //3.8
  }
}
div {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  a {
    color: #fff;
    line-height: 20px;
    text-decoration: none;
  }
}