// Colors
$white: #fff;
$black: #000;

$grey-light: #f5f5f5;
$grey-medium: #ddd;
$grey-dark: #3b3b3b;

$blue: #1b96a0;
$blue-dark: #103a3d;

$brown: #433016;
$brown-light: #ebe2ce;

$red: #ea5058;
$red-medium: #c52b33;
$red-dark: #75282c;

$green: #35421e;
$green-light: #75282c;

